body {
  height: 100%;
}

.aligner {
  align-items: center;
  display: flex;
  justify-content: center;
}

.aligner-space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-layout {
  align-items: stretch;
  background: #5C258D;
  background: -webkit-linear-gradient(right, #5C258D, #4389A2);
  background: -o-linear-gradient(right, #5C258D, #4389A2);
  background: linear-gradient(to left, #5C258D, #4389A2);
  height: 100%;
}

.gradient-bar {
  background: #851513;
  background: -webkit-linear-gradient(#851513, #bc261d, #851513);
  background: -o-linear-gradient(#851513, #bc261d, #851513);
  background: linear-gradient(#851513, #bc261d, #851513);
  color: #ffffff;
}

.navbar {
  box-shadow: 0 0.25em 1.25em rgba(0, 0, 0, 0.6);
  min-height: 4em;
  flex: 1;
}

.navbar > .ui.container {
  align-items: center;
  display: flex;
  min-height: 4em;
  justify-content: space-between;
}

.navbar .brand {
  font-size: 2em;
  font-weight: bolder;
}

.navbar img {
  max-height: 4em;
}

.wrapper {
  flex: 18;
}

.footer {
  min-height: 3em;
  flex: 1;
}

.search-bar {
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: inline-block;
  font-size: 3em;
  margin: 1em 0 0.5em 0;
  padding: 0.25em;
}

.search-input {
  background: none;
  border: none;
}

.search-input:focus {
  outline: none;
}

.course-result {
  color: #ffffff;
  width: 40em;
}

.course-name {
  font-weight: bolder;
}

.course-school {
  font-weight: lighter;
}
