* {
  color: #ffffff;
}

body {
  height: 100%;
  overflow-y: auto;
}

.aligner {
  align-items: center;
  display: flex;
  justify-content: center;
}

.aligner-space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-layout {
  align-items: stretch;
  background: #5C258D;
  background: -webkit-linear-gradient(right, #5C258D, #4389A2);
  background: -o-linear-gradient(right, #5C258D, #4389A2);
  background: linear-gradient(to left, #5C258D, #4389A2);
  height: 100%;
  overflow-y: auto;
}

.gradient-bar {
  background: #851513;
  background: -webkit-linear-gradient(#851513, #bc261d, #851513);
  background: -o-linear-gradient(#851513, #bc261d, #851513);
  background: linear-gradient(#851513, #bc261d, #851513);
}

.navbar {
  box-shadow: 0 0.25em 1.25em rgba(0, 0, 0, 0.6);
  margin-bottom: 2em;
  max-height: 4em;
  min-height: 4em;
  flex: 1 1 auto;
}

.navbar > .ui.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-height: inherit;
  min-height: inherit;;
}

.navbar .brand {
  color: #ffffff;
  font-size: 2em;
  font-weight: bolder;
}

.navbar img {
  max-height: 4em;
  min-height: 4em;
}

.wrapper {
  flex: 48 48 auto;
}

.footer {
  flex: 1 1 auto;
  margin-top: 2em;
  max-height: 3em;
  min-height: 3em;
}

.search-bar {
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 3em;
  margin: 1em 0 0.5em 0;
  padding: 0.25em;
}

.search-input {
  background: none;
  border: none;
}

.search-input:focus {
  outline: none;
}

.course-result {
  width: 40em;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course-name {
  font-weight: bolder;
  max-width: 27.5em;
}

.course-school {
  font-weight: lighter;
  max-width: 10em;
}

h1,
h3,
.course .information {
  color: #ffffff !important;
  text-align: center;
}

.read-select {
  margin: 2em 0;
}

label {
  color: #ffffff !important;
}

.float-right {
  float: right;
}

.aligner > .ui.comments {
  width: 100%;
}

.new-testimony,
.new-question {
  margin-bottom: 2em;
}

.thumbs.icon + span {
  color: #000000;
  margin-right: 1em;
}
