* {
  color: #ffffff;
}

body {
  height: 100%;
  overflow-y: auto;
}

.aligner {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.aligner-space-around {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.aligner-space-between {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-layout {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
  background: #5c258d;
  background: -webkit-linear-gradient(right, #5c258d, #4389a2);
  background: linear-gradient(to left, #5c258d, #4389a2);
  height: 100%;
  overflow-y: auto;
}

.gradient-bar {
  background: #851513;
  background: -webkit-linear-gradient(#851513, #bc261d, #851513);
  background: linear-gradient(#851513, #bc261d, #851513);
}

.navbar {
  box-shadow: 0 0.25em 1.25em rgba(0, 0, 0, 0.6);
  margin-bottom: 2em;
  max-height: 4em;
  min-height: 4em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.navbar * {
  max-height: inherit;
  min-height: inherit;
}

.navbar .brand {
  color: #ffffff;
  font-size: 2em;
  font-weight: bolder;
  line-height: 2em;
  margin-right: 0.5em;
}

.navbar .item {
  color: #ffffff;
  line-height: 4em;
  padding: 0 1em;
}

.navbar .item:hover {
  background: #851513;
}

.wrapper {
  -webkit-box-flex: 48;
  -webkit-flex: 48 48 auto;
  -ms-flex: 48 48 auto;
  flex: 48 48 auto;
}

.footer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 2em;
  max-height: 3em;
  min-height: 3em;
}

.search-bar {
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.6);
  font-size: 2.25em;
  margin-bottom: 1em;
  max-width: 400px;
  padding: 0.25em;
}

.search-input {
  background: none;
  border: none;
  max-width: 300px;
}

.search-input:focus {
  outline: none;
}

.search-results {
  font-size: 0.5em;
  margin: 0 !important;
  padding: 0 !important;
}

.search-results > a {
  color: #000000;
  padding: 0.25em 0.50em;
}

.search-results > a:hover {
  background: #5c258d;
  background: -webkit-linear-gradient(right, #5c258d, #4389a2);
  background: linear-gradient(to left, #5c258d, #4389a2);
  color: #ffffff;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1,
h3,
.course .information {
  color: #ffffff !important;
  text-align: center;
}

.read-select {
  margin: 2em 0;
}

label {
  color: #ffffff !important;
}

.float-right {
  float: right;
}

.aligner > .ui.comments {
  width: 100%;
}

.new-testimony,
.new-question {
  margin-bottom: 2em;
  max-width: 650px !important;
  width: 100%;
}

.thumbs.icon + span {
  color: #000000;
  margin-right: 1em;
}

.user-line {
  display: inline-block;
}

.user-line img {
  height: 2em;
  margin: 0 0.5em;
  width: 2em;
}

.ui.search.dropdown.selection * {
  color: #000000 !important;
}

ul.notifications {
  position: fixed;
}

.question-feed {
  background: rgba(125, 125, 200, 0.4);
  border-radius: 0.5em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1.5em 0;
  max-width: 650px;
  padding: 0.5em;
}

.question-feed .text {
  background: rgba(125, 125, 200, 0.8);
  border-radius: 0.25em;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-top: 0.5em;
  padding: 0.5em;
}

.question-feed .date {
  margin-left: 3em;
}

.notification-message {
  background: rgba(125, 125, 200, 0.4);
  border-radius: 0.5em;
  margin: 1.5em 0;
  padding: 0.5em;
}

.notification-message .answer {
  font-style: italic;
  margin-left: 3em;
}

.question-feed .ui.dimmer,
.notification-message .ui.dimmer {
  border-radius: 0.5em;
}

.edit-testimony-form textarea + span,
.edit-question-form textarea + span,
.edit-answer-form textarea + span,
.new-answer textarea + span {
  color: #000000;
}

.error-red {
  color: #ff0000 !important;
}
