<template name="search">
  <div class="aligner flex-column">
    <div class="search-bar">
      <input class="prompt search-input" type="text">
      <i class="search icon"></i>
    </div>

    {{#each courses}}
      <a href="{{pathFor route='coursePage'}}">
        <div class="course-result aligner-space-between">
          <span class="course-name">[{{initials}}] {{name}}</span>
          <span class="course-school">{{school}}</span>
        </div>
      </a>
    {{/each}}
  </div>
</template>
