<template name="notificationMessage">
  <a href="{{url}}">
    <div class="ui dimmable notification-message">
      <span class="float-right">
        <i class="ui red remove icon link remove-notification-message"></i>
      </span>
      <span class="user-line">
        <span class="aligner">
          <img src="{{notificator.profile.picture}}" alt="user" />
          <span>{{notificator.profile.name}} escribió en la pregunta que hiciste en {{course.name}}:</span>
        </span>
      </span>
      <div class="answer">
        {{answer.text}}
      </div>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <h1>Ir al ramo</h1>
          </div>
        </div>
      </div>
    </div>
  </a>
</template>
