<template name="testimony">
  <div class="ui segment">
    <div class="comment">
      {{#if hasPrivileges}}
        <span class="float-right">
          {{#unless isEditing}}
            {{#if isOwner}}
              <i class="ui orange edit icon link edit-testimony"></i>
            {{/if}}
          {{/unless}}
          <i class="ui red remove icon link remove-testimony"></i>
        </span>
      {{/if}}
      <a class="avatar">
        <img src="{{author.profile.picture}}">
      </a>
      <div class="content">
        <span class="author">
          {{author.profile.name}}
        </span>
        <div class="metadata">
          {{dateWritten}}
        </div>
        {{#unless isEditing}}
          <div class="text">
            {{text}}
          </div>
        {{else}}
          <form class="ui form edit-testimony-form">
            <div class="field">
              <textarea name="text" value="{{text}}" rows="4"></textarea>
              <span class="float-right {{#if illegalLength}}error-red{{/if}}">
                {{length}}/1000 caracteres
              </span>
            </div>
            <button class="ui {{#if illegalLength}}disabled{{/if}} button" type="submit">
              ¡Listo!
            </button>
            <button class="ui button edit-testimony-cancel">
              Cancelar
            </button>
          </form>
        {{/unless}}
      </div>
    </div>
  </div>
</template>
