<template name="question">
  <div class="ui segment">
    <div class="comment">
      <span class="float-right">
        <i class="ui blue alarm {{#if subscribed}}slash{{/if}} icon link toggle-subscription"></i>
        {{#if hasPrivileges}}
          {{#unless isEditing}}
            {{#if isOwner}}
              <i class="ui orange edit icon link edit-question"></i>
            {{/if}}
          {{/unless}}
          <i class="ui red remove icon link remove-question"></i>
        {{/if}}
      </span>
      <a class="avatar">
        <img src="{{author.profile.picture}}">
      </a>
      <div class="content">
        <span class="author">
          {{author.profile.name}}
        </span>
        <div class="metadata">
          {{dateWritten}}
        </div>
        {{#unless isEditing}}
          <div class="text">
            {{text}}
          </div>
        {{else}}
          <form class="ui form edit-question-form">
            <div class="field">
              <textarea name="text" rows="2" value="{{ text }}"></textarea>
            </div>
            <button class="ui button" type="submit">¡Listo!</button>
            <button class="ui button edit-question-cancel">Cancelar</button>
          </form>
        {{/unless}}
      </div>
      {{#unless isAnswering}}
        <div class="actions">
          <a class="reply answer-question">Responder</a>
        </div>
      {{else}}
        <form class="ui reply form new-answer">
          <div class="field">
            <textarea name="text" rows="2"></textarea>
          </div>
          <button class="ui primary submit labeled icon button" type="submit">
            <i class="write icon"></i>
            <span>Responder</span>
          </button>
          <button class="ui button answer-question-cancel">Cancelar</button>
        </form>
      {{/unless}}
      {{#if hasAnswers}}
        <div class="comments">
          {{#each answers}}
            {{> answer}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</template>
