<template name="question">
  <div class="ui segment">
    <div class="comment">
      {{#if currentUser}}
        <span class="float-right">
          <i class="ui blue alarm {{#if subscribed}}slash{{/if}} icon link toggle-subscription"></i>
          {{#if hasPrivileges}}
            {{#unless isEditing}}
              {{#if isOwner}}
                <i class="ui orange edit icon link edit-question"></i>
              {{/if}}
            {{/unless}}
            <i class="ui red remove icon link remove-question"></i>
          {{/if}}
        </span>
      {{/if}}
      <a class="avatar">
        <img src="{{author.picture}}">
      </a>
      <div class="content">
        <span class="author">
          {{author.name}}
        </span>
        <div class="metadata">
          {{dateWritten}}
        </div>
        {{#unless isEditing}}
          <div class="text">
            {{text}}
          </div>
        {{else}}
          <form class="ui form edit-question-form">
            <div class="field">
              <textarea name="text" rows="4" value="{{ text }}"></textarea>
              <span class="float-right {{#if illegalLength 'questionLength' 1000}}error-red{{/if}}">
                {{length 'questionLength'}}/1000 caracteres
              </span>
            </div>
            <button class="ui {{#if illegalLength 'questionLength' 1000}}disabled{{/if}} button" type="submit">
              ¡Listo!
            </button>
            <button class="ui button edit-question-cancel">
              Cancelar
            </button>
          </form>
        {{/unless}}
      </div>
      {{#unless isAnswering}}
        {{#if currentUser}}
          <div class="actions">
            <a class="reply answer-question">Responder</a>
          </div>
        {{/if}}
      {{else}}
        <form class="ui reply form new-answer">
          <div class="field">
            <textarea name="text" rows="2"></textarea>
            <span class="float-right {{#if illegalLength 'answerLength' 1000}}error-red{{/if}}">
              {{length 'answerLength'}}/1000 caracteres
            </span>
          </div>
          <button class="ui primary submit labeled icon {{#if illegalLength 'answerLength' 1000}}disabled{{/if}} button" type="submit">
            <i class="write icon"></i>
            <span>Responder</span>
          </button>
          <button class="ui button answer-question-cancel">
            Cancelar
          </button>
        </form>
      {{/unless}}
      {{#if hasAnswers}}
        <div class="comments">
          {{#each answers}}
            {{> answer}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</template>
