<template name="navbar">
  <div class="navbar gradient-bar">
    <div class="ui container">
      <div class="aligner-space-between">
        <span class="aligner">
          <a class="brand" href="/">Speki</a>
          {{#if currentUser.admin}}
            <a class="item" href="/users">
              <i class="users icon"></i>
            </a>
            <a class="item" href="/courses/new">
              <i class="student icon"></i>
            </a>
          {{/if}}
        </span>
        {{#if currentUser}}
          <span class="aligner">
            <button class="ui facebook button" id="logout">
              <span>Salir</span>
            </button>
            <img src={{currentUser.profile.picture}} alt="profilePicture" />
          </span>
        {{else}}
          <button class="ui facebook button" id="facebook-login">
            <i class="facebook icon"></i>
            <span>Ingresar</span>
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</template>
