<template name="course">
  <div class="course">
    <h1>{{name}}</h1>
    {{#if currentUser.admin}}
      <span class="aligner">
        <button class="ui mini orange labeled icon button edit-course">
          <i class="ui edit icon"></i>
          Editar
        </button>
        <button class="ui mini red labeled icon button remove-course">
          <i class="ui remove icon"></i>
          Eliminar
        </button>
      </span>
    {{/if}}
    <h3>{{initials}} | {{school}}</h3>
    <div class="information">{{getInformation}}</div>
  </div>

  <div class="aligner read-select">
    <button id="testimonies" class="ui red huge button {{#if questionsActive}}inverted{{/if}}">
      Testimonios
    </button>
    <button id="questions" class="ui teal huge button {{#if testimoniesActive}}inverted{{/if}}">
      Preguntas
    </button>
  </div>

  {{#if testimoniesActive}}
    <h3 class="ui dividing header">Testimonios</h3>

    {{#if currentUser}}
      <form class="ui form new-testimony">
        <div class="field">
          <label for="testimony-input">Tu Testimonio</label>
          <textarea id="testimony-input" name="text" rows="2"></textarea>
        </div>
        <button class="ui fluid button" type="submit">¡Listo!</button>
      </form>
    {{/if}}

    <div class="aligner">
      <div class="ui comments">
        {{#each testimonies}}
          {{> testimony}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if questionsActive}}
    <h3 class="ui dividing header">Preguntas</h3>

    {{#if currentUser}}
      <form class="ui form new-question">
        <div class="field">
          <label for="question-input">Tu Pregunta</label>
          <textarea id="question-input" name="text" rows="2"></textarea>
        </div>
        <button class="ui fluid button" type="submit">¡Listo!</button>
      </form>
    {{/if}}

    <div class="aligner">
      <div class="ui comments">
        {{#each questions}}
          {{> question}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if currentUser.admin}}
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Editar Ramo
      </div>
      <div class="content">
        {{> editCourse}}
      </div>
    </div>
  {{/if}}
</template>
