<template name="answer">
  <div id="{{this._id}}" class="comment">
    {{#if hasPrivileges}}
      <span class="float-right">
        {{#unless isEditing}}
          {{#if isOwner}}
            <i class="ui orange edit icon link edit-answer"></i>
          {{/if}}
        {{/unless}}
        <i class="ui red remove icon link remove-answer"></i>
      </span>
    {{/if}}
    <a class="avatar">
      <img src="{{author.profile.picture}}">
    </a>
    <div class="content">
      <span class="author">
        {{author.profile.name}}
      </span>
      <div class="metadata">
        {{dateWritten}}
      </div>
      {{#unless isEditing}}
        <div class="text">
          {{text}}
        </div>
      {{else}}
        <form class="ui form edit-answer-form">
          <div class="field">
            <textarea name="text" value="{{text}}" rows="4"></textarea>
            <span class="float-right {{#if illegalLength}}error-red{{/if}}">
              {{length}}/1000 caracteres
            </span>
          </div>
          <button class="ui {{#if illegalLength}}disabled{{/if}} button" type="submit">
            ¡Listo!
          </button>
          <button class="ui button edit-answer-cancel">
            Cancelar
          </button>
        </form>
      {{/unless}}
      <div class="actions">
        <i class="ui green {{#if canAgree}}outline{{/if}} thumbs up icon {{#if currentUser}}link agree{{/if}}"></i>
        <span>{{agrees}}</span>
        <i class="ui red {{#if canDisagree}}outline{{/if}} thumbs down icon {{#if currentUser}}link disagree{{/if}}"></i>
        <span>{{disagrees}}</span>
      </div>
    </div>
  </div>
</template>
